@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/LayoutMaster/_DefaultLayout.cshtml";
}

<h2>ForgetPassword</h2>

<form class="form-horizontal" role="form" id="forgetpass-form" method="post" action="/User/ForgetPassword" autocomplete="off">
    @if (ViewBag.Message != null)
    {
        <strong>@ViewBag.Message</strong>
    }


    <div>
        <label> User ID</label>
        <input type="text" value="" />
    </div>
    <div>
        <div>
            <select id="Que1" name="Que1"></select>
            <input type="text" name="txtQue1Ans" id="txtQue1Ans">
        </div>
        <div>
            <select id="Que2" name="Que2"></select>
            <input type="text" name="txtQue2Ans" id="txtQue1Ans">
        </div>
        <div>
            <select id="Que3" name="Que3"></select>
            <input type="text" name="txtQue3Ans" id="txtQue1Ans">
        </div>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<script src="~/Scripts/ART%20Script/ForgetPassword.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        forgetPassword.init();
    });
</script>
