@{
    ViewBag.Title = "GSDView";
    Layout = "~/Views/LayoutMaster/_Layout3.cshtml";
}
<style>
    #dvChartaccountlockmonth, #dvChartaccountlockDay, #dvChartGsdActivityByDay, #dvChartFrequentCallers {
        width: 100%;
        height: 300px;
    }
    .dvperiod {
        text-transform: capitalize;
        float: right;
        background-repeat: no-repeat;
        background-position: 100% -2px;
        color: #16a2e1;
    }
</style>
<div class="content-container">
    <div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
        <img src="../Images/ArtImages/dashboard-icon.svg" alt="search-icon">
        <span>GSD View</span>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 form-box padding-30" id="dvcontainer1">
        <!-- user registration section starts here-->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="form-title">Account lockout incidents Month on Month | @*<i class="fa fa-download" aria-hidden="true" style="cursor:pointer;" title="Download as CSV" onclick="gsddashboard.downloadaccountlockbymnthCsv()"></i>*@</h3><a href="javascript:void(0);" onclick="gsddashboard.downloadaccountlockbymnthCsv()" title="Download as CSV"> Download as CSV</a>
            <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil" id="dvChartaccountlockmonth">
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 form-box padding-30" id="dvcontainer2">
        <!-- user registration section starts here-->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="form-title">account lock out by day</h3><div class="dvperiod">Last 7 days</div>
            <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil" id="dvChartaccountlockDay">
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 Padding-Nil" id="dvcontainer3">
        <div class="col-sm-12 col-md-12 col-lg-12 pl-0">
            <div class="col-sm-12 col-md-12 col-lg-12 form-box padding-30" id="unlockActivity">
                <h3 class="form-title">Frequent Callers</h3><div class="dvperiod">Last 30 days</div>

                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil" id="dvChartFrequentCallers">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 Padding-Nil" id="dvcontainer4">
        <div class="col-sm-12 col-md-12 col-lg-12 pr-0">
            <div class="col-sm-12 col-md-12 col-lg-12 form-box padding-30" id="unlockActivity">
                <h3 class="form-title">GSD Activity</h3><div class="dvperiod">Last 7 days</div>

                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil" id="dvChartGsdActivityByDay">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="7061737323313233" id="hdky" />
</div>
<form class="form-horizontal" role="form" id="csvform" method="post" action="/Reports/DownloadAccountlockByMonthCsv" autocomplete="off">
    @Html.Hidden("UserId")
</form>
<script src="~/Scripts/cryptojs/core.js"></script>
<script src="~/Scripts/cryptojs/aes.js"></script>

<link href="~/Css/jquery.loading.css" rel="stylesheet" />
<script src="~/Scripts/ARTScript/jquery.loading.js"></script>
<script src="~/Scripts/ARTScript/GSDDashboard.js?v=@JSVersion.version"></script>
<script type="text/javascript">
    $(document).ready(function () {
        gsddashboard.defaults.userId = '@Html.Raw(ViewBag.UserId)';

        gsddashboard.init();

        //For menu highlight // DOM are loaded in Layout2 ;)
        $("#aDashboard").removeClass('color-white');
        $("#aSearch").removeClass('color-white');
        $("#aGsdview").addClass('color-white');
    });
</script>