/***********************************Common CSS*********************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100);

*                               { outline: none !important;}
html,body                       { width: 100%; height: 100%; padding: 0; margin: 0;}

body                            { font-family: 'Roboto', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4;}

.Padding-Nil                    { padding: 0 !important;}
.padding-T30                    { padding-top: 30px !important;}
.padding-B30                    { padding-bottom: 30px !important;}
.padding-30                     { padding: 30px;}
.padding-L-nil                  { padding-left: 0 !important;}
.Margin-Nil                     { margin: 0 !important;}
.margin-T30                     { margin-top: 30px;}
.margin-T15                     { margin-top: 15px !important;}
.margin-B15                     { margin-bottom: 15px !important}

.Border-Nil                     { border: none !important;}

.Font-11                        { font-size: 11px;}
.Font-12                        { font-size: 12px;}
.Font-14                        { font-size: 14px;}
.Font-16                        { font-size: 16px;}
.Font-18                        { font-size: 18px;}
.Font-20                        { font-size: 20px;}
.Font-45                        { font-size: 45px;}
.Font-22                        {font-size: 22px !important; }

.lh-18                          {line-height: 18px;}



input[type="text"]:disabled     { background: transparent; opacity: 0.5;}
select::-ms-expand              { display: none; }
select                          { border: none; cursor: pointer; text-transform: uppercase; background: transparent;  -webkit-appearance: none; -moz-appearance: none;                                              appearance: none; }

.bg-blue-lite                   { background: #cee8fa;}
.bg-blue                        { background: #080626;}
.bg-white                       { background: #f2f2f2;}
.bg-green-1                     { background: #eef2db;}
.bg-green-2                     { background: #f6f7ef;}
.bg-yellow-1                    { background: #f6f2d9;}
.bg-yellow-2                    { background: #fbf9ed;}
.bg-pink-1                      { background: #fae1da;}
.bg-pink-2                      { background: #fcf1ed;}
.bg-cyan                        { background: #def9f4;}
.bg-lavender                    { background: #f4e9f9;}

.color-white                    { color: #fff !important;}
.color-grey                     { color: #99a1b8;}
.color-green                    { color: #7aa838;}
.color-yellow                   { color: #d5b25e;}
.color-pink                     { color: #e5a68e;}
.color-cyan                     { color: #82c1b8;}
.color-violet                   { color: #b2a5c3;}
.color-blue                     { color: #16a2e1;}

input[type="radio"]             { cursor: pointer;}
input                           { font-size: 14px;}
button                          { cursor: pointer;}

.text-center                    { text-align: center;}
.pull-left                      { float: left;}
.pull-right                     { float: right;}
label                           { display: inline-block; font-weight: 700;}
a:hover,
a:visited,
a:link                          { text-decoration: none !important; }

/********************************************Containers*************************************************/
.wrapper                        { width: 100%; min-height: 100%; margin: 0 auto -50px; position: relative;}
.main-container                 { width: 100%; margin: 0 auto; min-width: 767px;}
.content-container              { width: 85%; margin: 0 auto; max-width: 1170px; min-width: 767px;}

/********************************************Header*************************************************/
.header-blue                    { height: 82px; background: #080626; min-width: 767px;}
.top-bg                         { background-image: url(../Images/ArtImages/banner.png); background-repeat: no-repeat; background-size: cover; height: 350px;}
.logo                           { background-image: url(../Images/ArtImages/Logo.png); background-repeat: no-repeat; width: 112px; height: 42px; display: inline-block; margin-top: 20px;                                         margin-left: 62px;}
img[alt="globe-icon"]           { height: 18px; width: 18px; margin-top: 33px;}
.home-title                     { text-align: center;}
.home-title h1                  { color: #fff; font-size: 50px; letter-spacing: 5px; text-align: center; margin: 20px 0 10px 0; font-weight: 300; text-transform: uppercase;}
.home-title p                   { color: #b8b8b8; font-size: 21px; letter-spacing: 5px; text-transform: uppercase;}

.main-container form            { display: inline;}
.top-menu                       { margin: 0; padding: 0; list-style: none; float: right;}
.top-menu li                    { margin: 0; padding: 31px 20px; list-style: none; float: left;}
.top-menu li:last-child         { background: #232237; padding: 31px 30px;}
.top-menu li:last-child img     { opacity: 0.7;}
/* .top-menu li:nth-child(2)       { padding-right: 40px;}*/
.top-menu li a                  { font-size: 14px; color: #99a1b8; text-transform: uppercase; cursor: pointer;}
.top-menu li a:hover            { color: #fff;}
.top-menu li:last-child a:hover img { opacity: 1.0;}

/********************************************Content Section*************************************************/
.content-above                  { background: #0580c0;; position: relative; top: -75px;}
.content-above > div            { padding: 0;}
.content-above section          { border-right: 1px solid #fff; margin: 104px 0;}
.content-above a:hover          { text-decoration: none; color: #fff;}
.content-above img              { height: 72px; width: 72px; margin: 20px 0;}
.content-above p                { font-size: 18px; text-transform: uppercase; color: #fff; letter-spacing: 5px; padding: 0 25px; margin: 0;}
#localize                       { width: 35px; height: 20px; background: url(../Images/ArtImages/drop-down-arrow.png) no-repeat; background-position: top 5px right 0px !important; 
                                    outline: none; color: #fff; margin-top: 31px; float: right; margin-left: 5px; font-size: 14px;}
#localize option                { background: #080626; outline: 1px solid #fff; }

.page-title                     { margin: 30px 0; }
.page-title img                 { width: 60px; height: 60px;}
.page-title span                { color: #333; font-size: 32px; vertical-align: text-top; padding-left: 10px; font-weight: 500; text-transform: uppercase; vertical-align: -8px;}
.page-title p                   { color: #4f4f4f; font-size: 16px; font-weight: 300;  padding-bottom: 30px;}
.text-box                       { width: 100%; height: 35px;  background-color: #fcfcfc;  border: 1px solid #333333; text-indent: 10px; outline: none; color: #000 !important;}
.form-box                       { background: #fff; z-index: 0; margin: 0 0 30px 0;}
.form-box  p                    { color: #4f4f4f; font-size: 15px; font-weight: 300; text-transform: capitalize;}
.form-box h3                    { display: inline-block;}
.form-box select                { text-transform: capitalize; float: right; background: url(../Images/ArtImages/drop-down-bg.png); background-repeat: no-repeat; 
                                    background-position: 100% -4px; color: #16a2e1;}
.form-box select option         { color: #000; text-transform: capitalize;}
.form-container                 { width: 90%; margin: 0 5%; padding: 50px 0 40px 0;}

.btn-section                    { margin: 0 0 30px 0; text-align: center; width: 100%; float: left;}
.previous-btn,
.cancel-btn                     { width: 200px; padding: 10px 0; display: inline-block; background-color: #fff;  border: 1px solid #333333; border-radius: 3px; color: #000;
                                    font-size: 15px; text-transform: capitalize; cursor: pointer; }
.cancel-btn:hover,
.cancel-btn:visited,
.cancel-btn:link                { color: #000;}

.next-btn,
.submit-btn                     { width: 200px; padding: 10px 0; display: inline-block; background-color: #0580c0; border-radius: 3px; color: #fff !important; 
                                    border: none; font-size: 15px; margin-left: 30px; text-transform: capitalize; cursor: pointer; text-align: center;}
.text-date                      { background-image: url(../Images/ArtImages/calendar-icon.png); background-repeat: no-repeat; background-position: 98% 5px;}

.section-header                 { background-color: #545559; height: 48px;}
.section-header img[alt="user-icon"] { padding: 10px 20px; float: left;}
.section-header #empName,
.section-header #empId          { font-size:18px; font-weight: 400; color: #fff; text-transform: capitalize; display: inline-block; padding-top: 6px;}
.section-btn                    { width:175px; height:48px; padding: 15px 10px 10px 10px; border: none; text-decoration: none !important; font-size: 14px; font-weight: 400; color: #fff !important;
                                  text-transform: capitalize; text-indent: 10px; cursor: pointer;}
.section-btn img                { padding-right: 10px;}
#pwdReset                       { background-color: #48494d;}
#accUnlock                      { background-color: #018e42;}

.section-body                   { width: 100%; height: 100%; padding: 30px 50px;}
.section-body label             { color: #949494; font-size: 14px; font-weight: 500; text-transform: capitalize; float: right;}
.section-body span              { color: #000; font-size: 14px; font-weight: 600; text-transform: capitalize; padding-left: 10px;}
.acc-status                      { padding: 4px 6px; font-size: 14px; font-weight: 500; color: #fff !important; border-radius: 6px; text-transform: uppercase; margin-left: 5px;}
.red                            { background-color: #d43c3d; }
.green                          { background-color: #018e42; }
.grey                           { background-color: #999b9d; }
.security-ans                   { color: #018e42 !important;}

.section-container              { padding: 30px 15px;}
.section-container p            { font-size: 14px; color: #000; font-weight: 600; text-transform: inherit; display: inline-block;
                                    padding-right: 15px;}
#viewDetails                    { font-size: 14px; color: #0580c0; text-transform: capitalize; padding-left: 30px; text-decoration: none; 
                                    background: url(../Images/ArtImages/expand-icon.png); background-repeat: no-repeat; background-position: 10px 0px;}
#chart                          { width: 100%; margin: 0 auto; height: 300px;}

.pre-loader                     {  height: 100%; width: 100%; position: fixed; z-index: 10; left: 0; top: 0; background-color: rgb(0,0,0); 
                                    background-color: rgba(0,0,0, 0.6); overflow-x: hidden; transition: 0.5s; background-image: url(../Images/ArtImages/AjaxLoader.gif);
                                    background-repeat: no-repeat; background-position: 50% 50%; display: none;}

#advanceSearch                  { font-size: 14px; font-weight: 500; display: inline-block; color: #0580c0; cursor: pointer; margin-top: 45px; text-transform: capitalize;}

.form-title                     { font-size: 20px; color: #000; text-transform: capitalize; font-weight: 500;}
.metrics-tile                   {}
.metrics-tile-head              { padding: 20px; display: flex; 
                                                display: -webkit-box;
                                                display: -moz-box; 
                                                display: -webkit-flex; 
                                                display: -ms-flexbox; 
                                                flex-direction: column;
                                                -webkit-flex-direction: column; }
.metrics-tile-head span:first-child      { font-size: 40px; font-weight: 500;}
.metrics-tile-head span:last-child       { font-size: 14px; font-weight: 500; color: #000; text-transform: capitalize; vertical-align: 15px; padding-left: 15px;}
.metrics-tile-body                       { padding: 0 15px;}
.metrics-tile-body p:first-child         { font-size: 22px; color: #918d75; margin: 0;}
.metrics-tile-body p:last-child          { font-size: 16px; color: #918d75;}
.metrics-tile-foot                       { padding: 0 15px; margin-top: 2px !important;}
.metrics-tile-foot p:first-child         { font-size: 22px; color: #918d75; margin: 15px 0 0 0;}
.metrics-tile-foot p:last-child          { font-size: 16px; color: #918d75;}

.metrics-row p:first-child               { font-size: 42px; margin: 0; color: #16a2e1;}
.metrics-row p:last-child                { font-size: 16px; color: #000; font-weight: 500;}

#compareChart                   { width: 100%; height: 300px;}
#unlockGrid                     { height: 254px !important; display: block !important; position: static !important;}

.highlight-tile figure          { margin-top: 30px;}
.highlight-tile p               { font-size: 16px; font-weight: 500;}
.highlight-tile h3              { font-size: 45px; font-weight: 500; padding: 30px 0;}

.datePick                       { display: none; margin: 8px 0;}
.datePick p                     { margin: 0; color: #7f7f7f !important;}

.datePick .text-date            { height: 25px; border-color: #a9a9a9; color: #7f7f7f !important; background-image: url(../Images/ArtImages/calendar-icon-grey.png);
                                    background-position: 98% 3px; background-size: 15px;} 

.datePick .submit-btn           { margin: 20px 0 0 0; width: 40px; padding: 2px 0;} 

#datePick                       { display: none; margin: 8px 0;}

.datePick .dateposition         {float:left; padding-left:35px;}
.datePick .quickdash            {width:156px;}

#btnenroll                      { margin: 10px 0 0 0;}

#div-registerotp                {line-height:40px;}
#div-OTP                        {color: #4f4f4f;font-size: 15px;font-weight: 300;}
#drpCountryCode                 {color:#000 !important}    
/*#SectionOTP                     { display: none;}*/

#drpCountryCode                 { width:100%; height: 35px;  background-position: 100% 3px; border: 1px solid #333 !important; text-indent: 10px;}
/*#txtgenOTP                      { background: #efefef; cursor: not-allowed;}*/
/********************************************Footer*************************************************/
footer                          { width: 100%; position: relative; clear: both; height: 50px; border-top: 1px solid #c6c6c6; min-width: 767px;}
footer p                        { font-size: 12px; color: #333; text-align: center; margin: 0; padding: 16px 0;}


/***********************************************Info Tool Tip*******************************************/
.info-box                       { width: 60%; background-color: #334350; color: #EAEAEA; text-align: center; border-radius: 6px; padding: 5px; position: absolute;
                                    z-index: 1; top: 8%; right: 16px; margin-left: -60px;font-size:12px}

 .info-box::after               { content: ""; position: absolute; top: 100%; right: 10%;  margin-left: -10px; border-width: 10px; border-style: solid;
                                    border-color: #334350 transparent transparent transparent;}

.info-list                      { padding: 15px 30px; font-size: 13px; list-style: none; line-height: 25px; color: #EAEAEA; text-align: left; top: -122px;}
.info-list li                   { background-image: url(../Images/ArtImages/tick-marks-info.png); background-repeat: no-repeat; padding-left: 30px; list-style-type: none;}

.success                        { background-position: top -22px left 0;}
.fail                           { background-position: top 0px left 0;}

/**************************Error messages******************************/
.error                          { font-size: 12px; font-weight: normal; color: red; margin: 0; padding-top:5px; display: block; }

/*********************************************Modal Pop Up*****************************************/
.modal-dialog                   { z-index: 9999; margin-top: 100px;}
.modal-header                   { border: none;}
.modal-content                  { margin: 0 auto;}
.modal-content img              { position: absolute; left: 45%; top: -30px;}
.modal-msg1                     { padding-top: 30px; font-weight: 200; color: #333; font-size: 36px;}
.modal-msg2                     { font-weight: 300;  color: #333; font-size: 20px;}
.modal-footer                   { text-align: center; border: none;}
.btn-modal                      { color: #ffffff; font-size: 18px; padding: 5px 17px; box-shadow: none; border: none; text-decoration: none;
                                    border-radius: 4px; width: 230px; height: 40px; text-transform: capitalize;}
.bg-green                       { background: #43c59f;}
.bg-red                         { background: #e74a5f;}

/**************************Override JS Grid**************************************/
.jsgrid-grid-body,
.jsgrid-grid-header             { overflow-y: hidden !important;}
.jsgrid-pager                   { float: right;}
.jsgrid-pager-page              { border: 1px solid #74828f; border-radius: 4px; margin-left: 5px;}
.jsgrid-pager-current-page      { background: #0480c0; color: #fff; border: none;}
/*
.arrow-next                     { background-image: url(../Images/ArtImages/arrow-r.png); background-repeat: no-repeat; background-position: 8px 6px; border: 1px solid #74828f; 
                                    border-radius: 4px; padding: 2px 10px;}
.arrow-prev                    { background-image: url(../Images/ArtImages/arrow-l.png); background-repeat: no-repeat; background-position: 8px 6px; border: 1px solid #74828f; 
                                    border-radius: 4px; padding: 2px 10px;}
*/
.anchor-submit-btn              { width: 200px; padding: 10px 0; cursor: pointer;background-color: #0580c0; border-radius: 3px; color: #fff !important; border: none; font-size: 15px; 
                                    margin-left: 30px; text-transform: capitalize; display: inline-block;text-align:center;}

.anchor-submit-btn:hover        { text-decoration: none; color: #fff;}
#dvbtn1 > a, #dvbtn1 > button{
    width:130px !important;   
}
/**************************************** Employee Search ***************************/
.dvperiod                       { float:right;}
#dvUserGroupInfo                { overflow: auto;}