@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/LayoutMaster/_DefaultLayout.cshtml";
}

<div id="cntrdiv">
    @*<img src="~/Images/cross_icon.jpg" width="100" height="100"/>*@

    <div class="alert alert-danger fade in">
        <span class="glyphicon glyphicon-remove" style="font-size:28px;font-weight:bold;color:red;"></span>
        <strong>Error!</strong> A problem has been occurred while submitting your data.
        <p>Please Contact Our GST Team For Further Support <strong>@@51555</strong></p>
    </div>
</div>