.art-logo           {float:left;padding-left: 8px;}
.logo2              {float:right;}
.raiseimg           {margin-right: 46px;}
.hexa-logo          {width: 50%;padding-right: 8px;}
.header-bar         {margin-top: 5px;}
.containerset       {width: 800px; margin: 0 auto;}
.padding-nil 		{ padding: 0 !important;}
.reset-pass         {background-color: #e2f1f9; height: 55px;padding-top: 10px; padding-left: 20px;}
.border             {border-bottom: 2px solid #2a6fa5; padding-top: 72px;}
.reset-passw        {font-family: arial; font-size: 18px; color: #333;padding-left: }
.margintop25        {margin-top: 40px;}
.box-shadowwidth    { border: 1px solid #e2f1f9;}
.text-margin        {margin-top: 40px;}
.paddingtop5        {padding-top: 5px;}
.txtfld             {width: 330px;height: 35px; margin-left: 25px;border: 1px solid #e6e9eb;}
.lftxt              {text-align: right;font-weight: 500;  color: #333;  font-family: arial;  font-size: 16px;}
.marginT20          {margin-top: 20px;}
.submitbtn          {background: #2a6fa5; font-family: Arial; color: #ffffff; font-size: 16px; box-shadow: none;   border: none; padding: 6px 20px 6px 20px;
                    text-decoration: none;margin-top: 20px; margin-left: 325px;margin-bottom: 25px;}
.cancelbtn          {font-family: Arial; color: #ffffff; font-size: 16px; background: #fe9258; padding: 6px 20px 6px 20px;
                    text-decoration: none;box-shadow: none; border: none;margin-left: 15px;}
.borderbot-line     {padding-top: 10px; padding-bottom: 2px;}
.heading-passw      {font-family: arial;font-size: 12px; font-weight: bold;color: #eb2a2e;}
.passw              {font-family: arial;font-size: 13px;color:#333;padding-top: 5px;}
.passw-second       {font-family: arial;font-size: 13px;color:#333;margin-top:30px; }
.passw-second ul    {list-style-type: none;}
.border1            {border-bottom: 2px solid #e2f1f9;padding-top: 50%;}
.footer-text        {padding-top: 10px; font-size: 12px; padding-right: 38px;font-family: arial;color:#333;}
.passw ul           { list-style-type: none;}
.paddingR5          {padding-right: 5px;}




@media screen and (max-width: 768px) {
       
    .containerset   {width: 728px;margin: 0px auto;}
    .border1        {border-bottom: 2px solid #E2F1F9;padding-top: 100%;}
    .txtfld         {margin-bottom: 18px;}
        
}


@media screen and (max-width: 800px) {
    
    .border1        {border-bottom: 2px solid #E2F1F9;padding-top: 100%;}
    .txtfld         {margin-bottom: 15px;}

}
@media screen and (max-width: 360px) {
    
    .containerset   {width: 360px;margin: 0px auto;}
    .lftxt          {font-size: 11px;font-weight: bold;}
    .txtfld         {width: 125px;height: 30px;border: 1px solid #E6E9EB;margin-bottom: 15px;}
    .submitbtn      {font-size:12px; margin-left:0px;}
    .cancelbtn      {font-size:11px}
}