/**********************************************************Responsive media queries***********************************************************************/
@media screen and (max-width:1024px) {
    .section-btn                { padding: 18px;} 
}


@media screen and (max-width:768px) {
    
    /*.section-header #empName, 
    .section-header #empId      { font-size: 14px;}*/
    .section-body span,
    .section-body label         { font-size: 14px;}
    .section-btn                { padding: 18px 10px;} 
    .metrics-tile-head          { display: flex;}
    .metrics-tile-head span:last-child  { align-self: center;}
    #unlockActivity > div,       
    /*#deskActivity > div         { padding: 0;}*/
    .logo                       { margin-left: 0;}
}

@media screen and (min-width:1796px) {
    .emp_search_header{
        margin-top:80px;
    }
}