<!DOCTYPE html>
<html>
<head>
    <title>ART | Emailer</title>
    <style type="text/css">
        * {
            font-family: sans-serif;
        }
    </style>

</head>
<body style="font-family: sans-serif;">
    <div style=" width: 60%; margin: 0 auto; border:1px solid #ccc;">
        <header>
            <img src="https://artuat.hexaware.com/Images/ArtImages/Mailer-Header.jpg" alt="logo-img" style="width:100%;height:auto;">
        </header>

        <div style="padding: 0 10%; margin-bottom:45px;">
            <p style="padding: 10px 0; font-size: 15px;  font-weight: 600;">Dear {UserName},</p>
            <p style="padding-bottom:20px; font-size: 14px;  font-weight: 500;line-height: 25px;">This is to inform you that your security questions and answers are successfully changed by you. In case you need any further clarifications for the same, please contact the global service desk immediately.</p>
            <p style="font-size: 14px;  font-weight: 500;">Regards,</p>
            <p style="font-size: 13px; margin-top: -8px; font-weight: 600;">System Admin.</p>
            <p style="font-size: 13px; margin-top: -8px; font-weight: 500;">Call us @ <span style="color:#51b6ea;">4578634876538</span></p>
        </div>
    </div>

</body>
</html>
